@charset "UTF-8";

body {
	background-image: url("media/images/background.png");
	background-color: #a9a9a9;
	font: 12px/18px Myriad, helvetica, verdana, sans-serif;
	color: #444444;
	margin: 0px;
	padding: 0px;
}

.content {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

@font-face {
	font-family: Myriad;
	src: url(externals/MyriadPro-Regular.otf);
}

@font-face {
	font-family: MyriadLight;
	src: url(externals/MyriadPro-Light.otf);
}

header {
	width: 100%;
	height: 100px;
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
}

#logo {
	margin-left: 25px;
	margin-top: 15px;
}

#size {
	background: rgba(0,0,0);
}

/**************** nav **************************/

nav {
	height: 100%;
	float: right;
}

nav ul {
	list-style: none;
	padding: 10px;
	margin-top: 70px;
	margin-right: 0px;
}

nav ul li {
	display: inline;
	margin-right: 30px;
	font-size: 25px;
}

/**************** side_menu *********************/

.side_menu {
	display: none;
	overflow-y: auto;
	width: 150px;
}

.side_menu.active {
	position: absolute;
	display: block;
	overflow-y: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.side_menu h1 {
	font-size: 20px;
	text-align: center;
}

.side_menu li {
	display: block;
	height: 100px;
	background-size: 100px;
	background-repeat: no-repeat;
	margin: 10px 25px;
}

.side_menu li img {
	width: 100px;
	border-radius: 3px;
	box-shadow: 2px, 2px, 2px, #888888;
}

.side_menu ul {
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/************************************************/

.spotlight {
	display: none;
	position: absolute;
	left: 150px;
	right: 10px;
	top: 0px;
	bottom: 10px;
	margin-top: 10px;
	padding: 20px;
	padding-top: 50px;
	background-color: #bfbfbf;
	border-left: 2px solid #a9a9a9;
	border-radius: 7px;
	box-shadow: 2px 2px 2px #888888;
	overflow: hidden;
}

.spotlight_item {
	width: 800px;
	margin: auto;
	display: none;
}

.spotlight_item img {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: -20px;
	border-radius: 3px;
}

/******************** links *********************/

a:link {
	text-decoration: none; 
	color: #444444;
	}
	
a:visited {
	text-decoration: none; 
	color: #444444;
	}

a:hover {
	text-decoration: none;
	color: #eeeeee;
	}
	
a:active {
	text-decoration: none; 
	color: #ffffff;
	}

/******************** lightbox ******************/

.lightbox {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0, 0.7);
	padding-top: 100px;
	padding-left: 150px;
}

.close-btn {
	position: fixed;
	top: 68px;
	color: #fff;
	font-size: 18px;
}
.close-btn a:link {
	color: white;
}

/******************** launchpad ******************/

#launchpad {
	position: fixed;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 10px;
	padding: 20px;
	padding-top: 40px;
	padding-left: 80px;
	margin-top: 10px;
	background: rgba(0,0,0, 0.5);
	border-radius: 7px;
	z-index: 1000;
	overflow: auto;
}

#launchpad table {
	width: 80%;
	margin: auto;
}

#launchpad tr {
	margin-bottom: 20px;
}

#launchpad img {
	width: 100px;
	height: 100px;
	border-radius: 3px;
	box-shadow: 2px, 2px, 2px, #888888;
}