#background_image {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.4;
  padding: 50px 0px;
}

body {
  background: #aaccdd;
  font-family: 'Oxygen', sans-serif;
  overflow: none;
}

#front_page {
  width: 100%;
  text-align: center;
}

h1 {
  padding: 20px 0px 0px 0px;
  margin: 80px 0px 60px 0px;
  font-size: 5em;
  line-height: .25em;
  display: inline-block;
  width: 100%;
}

h2 {
  padding: 0px;
  margin: 0px;
}

#tracked_info {
  font-size: .75em;
}

#tweets {
  color: #333333;
  padding: 10px 50px;
}